@charset "UTF-8";

body {
    background-color: #A6A292;
}

hr {
    width: 350px;
    color: #00010D;
}

p {
    font-size: 20px;
    margin: 0.5em;
    color: #00010D;
}

div#All {
    background-color: #F2F2F0;
    width: 700px;
    margin: auto;
    border-radius: 15px 3px 15px 3px;
    box-shadow: 2px 2px 5px #2b2b2b;
}

/*Beggin*/
div#Beggin {
    
}

div#Beggin > div#MyPhoto > img {
    border-radius: 250px;
    box-shadow: 2px 2px 5px #2b2b2b;
    height: 250px;
    width: 230px;
    margin: 0px 14em;
}

div#Beggin > h1 {
    font-size: 45px;
    text-align: center;
    background-color: #ffff0c;
    width: 450px;
    margin: 0px -2.5em;
}

div#Beggin > p {
    font-size: 20px;
}

/*Who Am I*/
div#WhoAmI {
    
}

/*Study*/
div#Study {
    
}

/*My Hobbies*/
div#MyHobbies {
    
}